<footer>
  <div class="container text-center small py-vh-3">Made by
    <a href="https://templatedeck.com" class="link-fancy" target="_blank">templatedeck.com</a>
  </div>
  {% if footerScripts %}
  <script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
  {% endif %}
</footer>
