<div class="container py-vh-5">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <h1 class="display-huge mb-3">Welcome to Brook</h1>
      <a href="https://templatedeck.com/brook-html-template.html" target="_blank" class="btn btn-primary btn-xl shadow">Download Template</a>
    </div>
  </div>
</div>
