<div class="bg-gray-200">
<div class="container py-vh-5 pb-5 position-relative">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <p class="text-muted fs-3">There is a new version available!</p>
      <h1 class="display-huge lh-1">Shaun zombies bello modern cerebro animated corpse?</h1>
    </div>
    <div class="col-10 col-lg-8 col-xl-6 mt-3">
      <p class="lead">Imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.</p>
      <a href="#" class="btn btn-xl btn-primary shadow">Download now</a>
    </div>
  </div>
</div>

<div class="container-fluid py-vh-5 bg-gray-200 px-vw-5 ">
      <div class="bg-white position-absolute bottom-0 start-0 h-25 w-100"></div>
  <div class="row d-flex align-items-center position-relative">




<div class="col">
  <img src="./img/office111.jpg" class="img-fluid rounded-5 shadow"/>
</div>
<div class="col">
  <img src="./img/office103.jpg" class="img-fluid rounded-5 shadow"/>
</div>
<div class="col">
<img src="./img/office101.jpg" class="img-fluid rounded-5 shadow"/>
</div>
<div class="col">
  <img src="./img/office104.jpg" class="img-fluid rounded-5 shadow"/>
</div>
<!--
<div class="col">
<img src="./img/office110.jpg" class="img-fluid rounded-5 shadow"/>
</div>
<div class="col">
<img src="./img/office113.jpg" class="img-fluid rounded-5 shadow"/>
</div>-->
<div class="col">
  <img src="./img/office100.jpg" class="img-fluid rounded-5 shadow"/>
</div>
<div class="col">
  <img src="./img/office105.jpg" class="img-fluid rounded-5 shadow"/>
</div>

</div>
</div>
</div>
