<div class="container py-vh-5">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <p class="text-muted fs-3">At least one new article every month!</p>
      <h1 class="display-huge lh-1">Welcome to my Zombie and Vampire Blog!</h1>
    </div>
    <div class="col-10 col-lg-8 col-xl-6 mt-3">
      <p class="lead">Okay, this is just a Demo site for my 11ty blog template called Brook. <strong>So you can´t sign up</strong> for Zombie and Vampire knowledge and stories here. <strong>Sorry!</strong></p>
    {% include 'snippets/newsletter.njk' %}
    </div>
  </div>
</div>
