{%- for post in posts -%}
      <article class="col-12 border-top px-0 py-4 d-flex justify-content-between align-items-center">
      <h2 class="h4 lh-1 mb-0"><a href="{{ post.url }}" class="text-decoration-none">{{ post.data.title }}</a></h2>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </article>
  {% endfor %}
