<div class="accordion" id="accordionExample">
  <div class="accordion-item border-0 border-bottom bg-light py-3">
    <h2 class="accordion-header h6 px-4 py-3">
      <a class="link-dark text-decoration-none" href="{{ '/docs' | url }}">
        Introduction
      </a>
    </h2>

  </div>
  <div class="accordion-item border-0 border-bottom bg-light py-3">
    <h2 class="accordion-header bg-light" id="headingTwo">
      <a class="accordion-button text-dark bg-light collapsed text-decoration-none  shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Components
      </a>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse {% if (menuopen) %}show {% endif %}" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <nav class="nav flex-column">
        <a class="nav-link link-dark border-bottom px-0 py-3" href="{{ '/components' | url }}">Overview</a>
        <a class="nav-link link-dark border-bottom px-0 py-3" href="{{ '/features' | url }}">Features</a>
        <a class="nav-link link-dark border-bottom px-0 py-3" href="{{ '/footers' | url }}">Footers</a>
        <a class="nav-link link-dark border-bottom px-0 py-3" href="{{ '/forms' | url }}">Forms</a>
        <a class="nav-link link-dark border-bottom px-0 py-3" href="{{ '/heros' | url }}">Heros</a>
        <a class="nav-link link-dark border-bottom px-0 py-3" href="{{ '/navbars' | url }}">Navbars</a>
        <a class="nav-link link-dark px-0 py-3" href="{{ '/pricing' | url }}">Pricing</a></li>
        </nav>
      </div>
    </div>
  </div>
  <div class="accordion-item border-0 border-bottom bg-light py-3">
    <h2 class="accordion-header h6 px-4 py-3">
      <a class="link-dark text-decoration-none" href="{{ '/changelog' | url }}">
        Changelog
      </a>
    </h2>

  </div>
</div>
