<li class="nav-item">
    <a class="nav-link"  href="{{ '/index.html' | url }}" aria-label="The Blog Archive">
      Home
    </a>
  </li>
<li class="nav-item">
    <a class="nav-link"  href="{{ '/blog.html' | url }}" aria-label="The Blog Archive">
      Journal
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link"  href="{{ '/content.html' | url }}" aria-label="The Blog Archive">
        About
      </a>
    </li>
