<nav id="navScroll" class="navbar navbar-expand-lg navbar-light {% if stickyNav %}fixed-top{% endif %} py-vh-3 pb-0 px-vw-5"  tabindex="0">
  <div class="container-fluid">
    {% include 'snippets/navbar-brand.njk' %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      {% include 'snippets/navbar-content.njk' %}
    </ul>
      <a href="https://templatedeck.com" aria-label="Download this template" class="fs-6 link-fancy">
        Download Template
      </a>
    </div>
</div>
</nav>
