<div class="border bg-light p-2 rounded-5 shadow">
  <div class="row">
    <div class="col-12 col-lg-8 pe-0">
      <form class="form-floating">
        <input type="email" class="form-control p-4 rounded-5" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </form>
    </div>
    <div class="col-12 col-lg ps-4">
      <a href="#" class="btn btn-dark px-5 py-3 rounded-5">Subscribe</a>
    </div>
  </div>
</div>
