
<form class="row d-flex align-items-center text-start rounded-5 p-2 g-2 shadow bg-light border-top border-end border-start">
<div class="col-12 col-lg-7 my-1">
    <div class="form-floating">
      <input type="email" class="form-control rounded-5 px-5 col-12" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput" class="ms-1">Email address</label>
    </div>
</div>
  <div class="col-12 col-lg-5 my-1 d-grid gap-2">
      <button type="submit" class="btn btn-primary py-3 px-4 rounded-5">Subscribe</button>
  </div>
</form>
