<!-- Begin Mailchimp Signup Form -->
<div class="col py-3 text-center">

<div id="mc_embed_signup" class="d-flex justify-content-center">
<form action="https://bootstrapcomponents.us6.list-manage.com/subscribe/post?u=273d1c82817a4c45be502a223&amp;id=b036a36ac7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate row g-3 border-rounded border p-4 pt-3 bg-white" target="_blank" novalidate>

    <div id="mc_embed_signup_scroll" class="col-auto">
	     <label for="mce-EMAIL">Subscribe</label>
	      <input type="email" value="" name="EMAIL" class="email p-1 border-rounded" id="mce-EMAIL" placeholder="email address" required>
      </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_273d1c82817a4c45be502a223_b036a36ac7" tabindex="-1" value=""></div>
    <div class="clear col-auto">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
    </div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
