<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body {% if (bodyModifier) %} class="{{ bodyModifier }}" {% endif %} data-bs-spy="scroll"  data-bs-target="#navScroll">

    {% include "snippets/navbar1.njk" %}
    <main>
      {{ content | safe }}
    </main>

    {% include "snippets/" + footer + ".njk" %}
  </body>
</html>
