<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">
  <head>
    {% include 'snippets/head.njk' %}
  </head>
  <body {% if (bodyModifier) %} class="{{ bodyModifier }}" {% endif %} data-bs-spy="scroll" data-bs-target="#navScroll">
    {% include "snippets/navbar1.njk" %}
    <main class="container py-vh-3">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-12 col-lg-10 col-xl-6">
          {% if author %}<small class="text-muted">By
            {{ author }}</small>{% endif %}
          <h1 class="display-huge">{{ title }}</h1>
          <p class="lead pt-2 py-vh-2 {% if img %}{% else %}border-bottom{% endif %}">{{summary}}</p>
        </div>
        {% if img %}
          <div class="row">
            <div class="col-12">
              <img src="/img/webp/{{img}}.webp" class="img-fluid" alt="{{imgAlt}}">
            </div>
          </div>
        {% endif %}
        <div class="row d-flex justify-content-center text-start">
          <div class="col-12 col-lg-10 col-xl-6 py-vh-2">
            {{ content | safe }}
          </div>
        </div>
      </div>
    </main>
    <div class="container d-flex justify-content-between">
      {% include 'snippets/postprevnext.njk' %}
    </div>
    {% include "snippets/" + footer + ".njk" %}
  </body>
</html>
