<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body {% if (bodyModifier) %} class="{{ bodyModifier }}" {% endif %} data-bs-spy="scroll" data-bs-target="#navScroll">

    <div class="h-100 container-fluid">
      <div class="h-100 row d-flex align-items-stretch">
        {% if bgimg %}
          <div class="col-12 col-md-7 col-lg-6 d-flex align-items-start flex-column px-vw-5">
          {% else %}
            <div class="col-12 d-flex align-items-start flex-column px-vw-5">
            {% endif %}
            <header class="mb-auto  py-vh-2 col-12">
              {% include 'snippets/navbar-brand.njk' %}
            </header>
            <main class="mb-auto col-12">
              <h1>{{title}}</h1>
              {{ content | safe }}
            </main>
          </div>
          {% if bgimg %}
            <div class="col-12 col-md-5 col-lg-6 bg-cover" {% bgImg bgimg %}></div>
          {% endif %}
        </div>

      </body>
    </html>
