.bg-primary-soft {
  background-color: $primary-soft;
}

.bg-secondary-soft {
  background-color: $secondary-soft;
}

.bg-success-soft {
  background-color: $success-soft;
}

.bg-warning-soft {
  background-color: $warning-soft;
}

.bg-danger-soft {
  background-color: $danger-soft;
}

.bg-light-soft {
  background-color: $light-soft;
}

.bg-dark-soft {
  background-color: $dark-soft;
}
