.py-vh-1 {
  padding-top:1.5vh;
  padding-bottom:1.5vh;
}

.py-vh-2 {
  padding-top:3vh;
  padding-bottom:3vh;
}

.py-vh-3 {
  padding-top:6vh;
  padding-bottom:6vh;
}

.py-vh-4 {
  padding-top:9vh;
  padding-bottom:9vh;
}

.py-vh-5 {
  padding-top:12vh;
  padding-bottom:12vh;
}

.py-vh-6 {
  padding-top:16vh;
  padding-bottom:16vh;
}

.transform-scale:hover {
  transform: scale(1.5,1.5);
}
