---
title: Journal
layout: layouts/default.njk
footer: footer1
pagination:
    data: collections.posts
    size: 10
    reverse: true
    alias: posts
---

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-5">
      <h1>{{title}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6">
      <div class="row border-bottom">
        {% include "snippets/loop.njk" %}
      </div>
      {% include 'snippets/loopprevnext.njk' %}
    </div>
  </div>
</div>
