<div class="col p-0 border rounded-top shadow">
  <div class="col-12 border-bottom rounded-top p-3">
    <span class="text-danger">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewbox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </span>
    <span class="text-warning mx-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewbox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </span>
    <span class="text-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewbox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </span>
  </div>
  <div class="col p-4 rounded-bottom">
    <code>
      <span class="text-muted">// Vertical padding relative to the viewport height</span><br/>
      <span class="text-success">.py-vh-1 {</span><br/>
      <span class="ms-3">padding-top:
        <span class="text-primary">1.5vh;</span></span><br/>
      <span class="ms-3">padding-bottom:
        <span class="text-primary">1.5vh;</span></span><br/>
      <span class="text-success">}</span><br/>
      <br/>
      <span class="text-success">.py-vh-2 {</span><br/>
      <span class="ms-3">padding-top:
        <span class="text-primary">3vh;</span></span><br/>
      <span class="ms-3">padding-bottom:
        <span class="text-primary">3vh;</span></span><br/>
      <span class="text-success">}</span>      <br/>
      <br/>
      <span class="text-success">.py-vh-3 {</span><br/>
      <span class="ms-3">padding-top:
        <span class="text-primary">6vh;</span></span><br/>
      <span class="ms-3">padding-bottom:
        <span class="text-primary">6vh;</span></span><br/>
      <span class="text-success">}</span>      <br/>
      <br/>
    </code>
  </div>
</div>
