<div class="row">
  <div class="col">
    <h2 class="display-3">Lets start a project together!</h2>
    <p class="text-light">Ipsum dolores ratione quas quia fuga quo est similique quam aperiam voluptatum<br/> ducimus dignissimos inventore molestiae neque illum, tenetur repudiandae!</p>
    <a href="#" class="btn btn-{{colorModifier}} btn-xl shadow me-3 mt-4">Get in contact</a>
  </div>
</div>
