
  <div class="row d-flex d-flex align-items-stretch justify-content-center">
    <div class="col-12 text-center">
      <h3>FAQ´s</h3>
    </div>

    <div class="col-12 col-lg-10 col-xl-8">
      <div class="row d-flex justify-content-between">
        <div class="col-md-5 border-top py-vh-3" data-aos="fade-right" data-aos-duration="500">
          <h5>Which Credit Card´s do you support?</h5>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <div class="col-md-5 border-top py-vh-3" data-aos="fade-left" data-aos-duration="700">
          <h5>Can I pay per year?</h5>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <div class="col-md-5 border-top py-vh-3" data-aos="fade-right" data-aos-duration="900">
          <h5>Where I find my invoice?</h5>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>

        <div class="col-md-5 border-top py-vh-3" data-aos="fade-left" data-aos-duration="1100">
          <h5>I can´t login. What now?</h5>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <div class="col-md-5 border-top py-vh-3" data-aos="fade-right" data-aos-duration="1300">
          <h5>Can I get a refund?</h5>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
    </div>
  </div>
