<div class="col-12 col-lg-6"  data-aos="fade-left">
  <span class="text-{{colorModifier}} fs-5">Our services</span>
  <h3 class="display-5 fw-bold">We offer anything you need. Now.</h3>
  <p>Okay, basically we offer just some Crypto, Web3 and NFT App stuff we don´t understand. Buts thats fine becasue no one else understands it either</p>
  <a href="#" class="text-decoration-none link-{{colorModifier}}">All services
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
  </a>
</div>
<div class="col-12 col-lg-6 border-start"  data-aos="fade-right" data-aos-delay="200">
  <ul class="list-unstyled">
    <li>
      <a class="link-{{colorModifier}} text-decoration-none fs-5 py-3 border-bottom d-block" href="#">100% uptime <span class="fs-6">(on monday)</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right float-end" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
      </a>
    </li>
    <li>
      <a class="link-{{colorModifier}} text-decoration-none fs-5 py-3 border-bottom d-block" href="#">Professional support <span class="fs-6">(on thursday)</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right float-end" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      </a>
    </li>

    <li>
      <a class="link-{{colorModifier}} text-decoration-none fs-5 py-3 border-bottom d-block" href="#">Enterprise SLA  <span class="fs-6">(on wednesday)</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right float-end" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      </a>
    </li>
    <li>
      <a class="link-{{colorModifier}} text-decoration-none fs-5 py-3 border-bottom d-block" href="#">24/7 Customer Support <span class="fs-6">(between 3pm - 5pm)</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right float-end" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      </a>
    </li>
</div>
