<div class="col-12 col-md-6 col-lg-3 pt-5 p-4 border-end">
  <h5>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-layers-half" viewbox="0 0 16 16">
      <path d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zM8 9.433 1.562 6 8 2.567 14.438 6 8 9.433z"/>
    </svg>
    Company Name
  </h5>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br/>
  </p>
</div>
<div class="col-12 col-md-6 col-lg-3 pt-5 p-4 border-end">
  <h5>Services</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Payments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Point of Sale</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Free Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Online Cart</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-6 col-lg-3 pt-5 p-4 border-end">
  <h5>Support</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Web Wiki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Terms or Service</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">API</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Developer Program</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">SDK</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-6 col-lg-3 pt-5 p-4">
  <h5>About us</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Our Story</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Career</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Terms or Service</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Legal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Security</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ps-0 link-secondary" href="#">Affiliate Program</a>
    </li>
  </ul>
</div>
<div class="col-12 text-center pt-4 mt-4 ">
  <span class="text-muted">© 2021 Copyright by Company Name</span></div>
</div>
