
<div class="row d-flex justify-content-between align-items-center">
  <div class="col-lg-6">
  <div class="row gx-5 d-flex">
    <div class="col-md-11">
      <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end" data-aos="fade-right" style="background-image: url({{'./img/webp/people15.webp'|url}});--bs-aspect-ratio: 50%;">
      </div>
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up" style="background-image: url({{'./img/webp/interior42.webp'|url}});">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-left" style="background-image: url({{'./img/webp/people4.webp'|url}});--bs-aspect-ratio: 150%;">
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <h3 class="py-5 border-top border-dark" data-aos="fade-left">We did some interesting stuff in our field of work. For example we collect a lot of these free photos and use them on our website.</h3>
  <p  data-aos="fade-left"  data-aos-delay="200">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  </p>
  <p>
    <a href="#" class="link-fancy link-{{colorModifier}}" data-aos="fade-left"  data-aos-delay="400">Learn more
    </a>
  </p>
</div>
</div>
