

<div class="row gx-5 d-flex justify-content-center align-items-center">
  <div class="col-md-4">
    <div class="aos-init aos-animate shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end ms-4" data-aos="fade-up" data-aos-duration="1500" style="background-image: url({{'/img/54b43bcd-500.jpeg'|url}});--bs-aspect-ratio: 50%;"></div>
    <div class="aos-init aos-animate shadow ratio ratio-4x3 rounded bg-cover bp-center float-end mt-4" data-aos="fade-up" data-aos-duration="1500" style="background-image: url({{'/img/3d0e1f57-500.jpeg'|url}});"></div>
  </div>

  <div class="col-md-4">
    <div class="aos-init aos-animate shadow ratio rounded bg-cover bp-center" data-aos="fade-up" data-aos-duration="1500" style="background-image: url({{'/img/9a6ef2b4-768.jpeg'|url}});--bs-aspect-ratio: 150%;"></div>
  </div>

  <div class="col-md-4">
    <div class="aos-init aos-animate shadow ratio ratio-4x3 rounded bg-cover bp-center float-end" data-aos="fade-up" data-aos-duration="1500" style="background-image: url({{'/img/8ab1d47-500.jpeg'|url}});"></div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 col-lg-8 col-xl-4 bg-white py-5">
    <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
    <p>
      <a href="#" class="text-decoration-none  link-{{colorModifier}}">Learn more about us
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewbox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </a>
    </p>
  </div>
</div>
