<div class="position-relative bg-{{colorModifier}} bg-cover bp-center" style="background-image: url({{'/img/b3a3ee2e-1024.jpeg'|url}});">
<div class="position-absolute w-100 h-100 opacity-75 bg-primary"></div>
  <div class="container">
    <div class="row py-vh-5 position-relative d-flex justify-content-between align-items-center">
      <div class="col-lg-5 text-white">
        <h1 class="display-1 fw-bold">Sell more, sell faster!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

      </div>
      <div class="col-6">
        {% include "code/registerform2.njk" %}
      </div>
    </div>
  </div>
</div>
