<div class="position-relative bg-cover text-white text-center bp-center"  style="background-image: url({{'/img/7d8cd274-1280.jpeg'|url}});">
  <div class="opacity-50 bg-black position-absolute w-100 h-100 top-0 start-0"></div>
  <div class="container">
    <div class="row py-vh-5 position-relative d-flex justify-content-center align-items-center">
      <div class="col-10 mt-5">
        <span class="fs-5">Lorem ipsum dolor</span>
        <h1 class="display-1 fw-bold">Join our community</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <a href="#" class="btn btn-{{colorModifier}} btn-xl shadow me-3">Get started free</a>
      </div>
    </div>
  </div>
</div>
