<div class="grouped-inputs border p-2 bg-light">
  <div class="row">
    <div class="col-12 col-md">
      <form class="form-floating">
        <input type="email" class="form-control p-3" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </form>
    </div>
    <div class="col-12 col-md-auto mt-2 mt-md-0">
      <button class="btn btn-{{colorModifier}} py-3 px-5 w-100" aria-label="Subscribe to our newsletter">Subscribe</button>
    </div>
  </div>
</div>
