<div class="grouped-inputs border bg-light p-2">
  <div class="row">
    <div class="col">
      <form class="form-floating">
        <input type="email" class="form-control p-3" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </form>
    </div>
    <div class="col-auto">
      <a href="#" class="btn btn-{{colorModifier}} py-3 px-5">Subscribe</a>
    </div>
  </div>
</div>
