<div class="col-4 d-flex justify-content-between border shadow p-4 rounded">
  <div class="row">
    <div class="col-md-4 position-relative">
      <img src="{{ '/img/person2.jpg' | url }}" class="img-fluid rounded-circle"/>
      <span class="position-absolute top-0 end-25 translate-middle px-1 bg-info border border-light rounded-circle text-white mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewbox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </svg>
      </span>
    </div>
    <div class="col">
      <h5 class="m-0">John Doe</h5>
      <span class="text-muted fst-italic">"Similique quisquam debitis corrupti deserunt, dolor."</span><br/>
      <span class="fs-6"><span class="text-warning">4.5</span>
        <span class="text-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star-fill" viewbox="0 0 20 20">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
        </span>

        <span class="text-muted">Overall Rating</span>
      </span>
          </div>
      <div class="col-12">
        <div class="border-top row mt-3 border-bottom mb-3 g-0">
          <div class="col">
            <div class="pe-1 ps-2 py-3">
              <h5 class="mb-0">9.828</h5>
              <span>Lines of code</span>
            </div>
          </div>
          <div class="col border-start">
            <div class="pe-1 ps-3 py-3">
              <h5 class="mb-0">41</h5>
              <span>Commits</span>
            </div>
          </div>
          <div class="col border-start">
            <div class="pe-1 ps-3 py-3">
              <h5 class="mb-0">18</h5>
              <span>PR´s today</span>
            </div>
          </div>
        </div>
      </div>
<div class="col-12">
  <p>Lorem, ipsum dolor sit adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis corrupti deserunt, dolor.</p>
</div>
  </div>
</div>
