<div class="row">
  <div class="col-12 py-3 text-center">
    <span class="fs-5">One Simple Pricing:</span>
  </div>
</div>
<div class="row d-flex align-items-stretch border rounded shadow">
  <div class="col-6 bg-light p-5 d-flex align-items-center">
    <ul class="list-unstyled">
      <li class="border-bottom py-2 my-1">
        <span class="text-dark me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        HTTPS-enabled
        <span class="rounded p-1 bg-white fw-bold">Custom Domains</span></li>
      <li class="border-bottom py-2 my-1">
        <span class="text-dark me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        <span class="rounded p-1 bg-white">Continuous Deployment</span>
        with Git</li>
      <li class="border-bottom py-2 my-1">
        <span class="text-dark me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        High-performance
        <span class="rounded p-1 bg-white">Edge Network</span></li>
      <li class="border-bottom py-2 my-1">
        <span class="text-dark me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        Unlimited
        <span class="rounded p-1 bg-white">Websites & APIs</span></li>
      <li class="py-2 my-1">
        <span class="text-dark me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        <span class="rounded p-1 bg-white">Serverless Functions</span>
        in Node.js, Go, and more</li>
    </ul>
  </div>
  <div class="col-6 p-5 text-center d-flex align-items-center justify-content-center border-start bg-white">
    <div>
      <h1 class="display-1">
        <span class="fs-1">$</span><span class="fw-bold">5</span><span class="fs-3 text-secondary">/mo</span></h1>
      <a href="#" class="btn btn-{{colorModifier}} btn-lg px-5 py-3 shadow mb-3 fs-6 rounded-pill">Get startet free</a>
      <p class="text-muted">No credit card required</p>
    </div>
  </div>
</div>
<div class="text-center mt-4">
  <a href="#" class="text-decoration-none link-{{colorModifier}}">See more details
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewbox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
  </a>
</div>
