<div class="row text-center d-flex justify-content-center gx-0">
  <div class="col-lg-4 mb-4 mt-5">
    <div class="card py-5 shadow border-0" data-aos="fade-right">
      <div class="card-body px-5">
        <h3 class="card-title">Beginners</h3>
        <small>$</small>
        <span class="display-3 fw-bold">12</span>
        <small>/mo</small><br>
        <small class="text-muted">Billed annually</small>
        <div class="d-grid">
          <a href="#" class="btn btn-outline-{{colorModifier}} btn-lg mt-3">Get started</a>
        </div>
        <div class="card-text">
          <ul class="checked py-4 text-start list-unstyled">
            <li class="py-2 border-bottom">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>
              Facilisis in pretium nisl aliquet</li>
            <li class="py-2 border-bottom">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Nulla volutpat aliquam velit</li>
            <li class="py-2 border-bottom">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Faucibus porta lacus fringilla vel</li>
            <li class="py-2 border-bottom">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Aenean sit amet erat nunc</li>
            <li class="py-2 border-bottom">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Eget porttitor lorem fringilla</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5" data-aos="fade-left">
    <div class="card border-0 py-5 bg-dark text-white rounded shadow">
      <div class="card-body px-5">
        <span class="badge bg-success my-3">Best buy</span>
        <h2 class="card-title fs-1">Professionals</h2>
        <small>$</small>
        <span class="display-1 fw-bold">24</span>
        <small>/mo</small><br>
        <small class="text-light">Billed annually</small>
        <div class="d-grid">
          <a href="#" class="btn btn-{{colorModifier}} btn-xl mt-3">Get started</a>
        </div>

        <div class="card-text">
          <ul class="py-3 text-start list-unstyled">
            <li class="py-3 border-bottom border-secondary">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Lorem ipsum dolor sit amet etiam porta sem</li>
            <li class="py-3 border-bottom border-secondary">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Consectetur adipiscing elit etiam porta sem</li>
            <li class="py-3 border-bottom border-secondary">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Integer molestie etiam porta sem lorem at massa</li>
            <li class="py-3 border-bottom border-secondary">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Facilisis in pretium nisl aliquet</li>
            <li class="py-3 border-bottom border-secondary">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Nulla volutpat aliquam velit</li>
            <li class="py-3 border-bottom border-secondary">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Faucibus porta lacus fringilla vel etiam porta sem</li>
            <li class="py-3 border-bottom border-secondary">
              <span class="me-2">{% include 'svg/bi-check-circle.njk' %}</span>Aenean sit amet erat nunc</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
