<div class="row text-center gx-3 d-flex align-items-top">
          <div class="col mb-4">
            <div class="card py-5 aos-init aos-animate bg-white" data-aos="fade-right" data-aos-duration="1200">
              <div class="card-body">
                <h3 class="card-title">Starter</h3>
                <small>$</small><span class="display-3 fw-bold">5</span><small>/mo</small><br>
                <small class="text-muted">Billed annually</small>

                <div class="card-text">
                  <ul class="checked py-4 px-sm-2 px-lg-4 text-start list-unstyled">
                    <li class="py-2 border-bottom">Facilisis in pretium nisl aliquet</li>
                    <li class="py-2 border-bottom">Nulla volutpat aliquam velit</li>
                    <li class="py-2 border-bottom">Faucibus porta lacus fringilla vel etiam</li>
                  </ul>
                </div>
                <a href="#" class="btn mt-3 px-3 btn-{{colorModifier}}">Buy now</a>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card py-5 aos-init aos-animate  shadow" data-aos="fade-right" data-aos-duration="1200">
              <div class="card-body">
                <h3 class="card-title">Beginners</h3>
                <small>$</small><span class="display-3 fw-bold">12</span><small>/mo</small><br>
                <small class="text-muted">Billed annually</small>

                <div class="card-text mt-3">
                  <ul class="checked py-4 px-sm-2 px-lg-4 text-start list-unstyled">
                    <li class="py-2 border-bottom">Facilisis in pretium nisl aliquet</li>
                    <li class="py-2 border-bottom">Nulla volutpat aliquam velit</li>
                    <li class="py-2 border-bottom">Faucibus porta lacus fringilla vel etiam</li>
                    <li class="py-2 border-bottom">Aenean sit amet erat nunc</li>
                  </ul>
                </div>
                <a href="#" class="btn btn-lg mt-3 px-4 btn-{{colorModifier}}">Buy now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="card border-0 py-5 aos-init aos-animate bg-dark text-white rounded  border bg-dark rounded shadow" data-aos="fade-up" data-aos-duration="1600">
              <div class="card-body">
                <span class="badge bg-success my-3">Best buy</span>
                <h2 class="card-title fs-1">Professionals</h2>
                <small>$</small><span class="display-1 fw-bold">24</span><small>/mo</small><br>
                <small class="text-muted">Billed annually</small>

                <div class="card-text mt-3">
                  <ul class="py-3 px-sm-2 px-lg-4 text-start list-unstyled">
                    <li class="py-3 border-bottom">Lorem ipsum dolor sit amet etiam porta sem</li>
                    <li class="py-3 border-bottom">Consectetur adipiscing elit etiam porta sem</li>
                    <li class="py-3 border-bottom">Integer molestie etiam porta sem lorem at massa</li>
                    <li class="py-3 border-bottom">Facilisis in pretium nisl aliquet</li>
                    <li class="py-3 border-bottom">Nulla volutpat aliquam velit</li>
                  </ul>
                </div>
                <a href="#" class="btn btn-{{colorModifier}} btn-xl mt-3">Buy now</a>
              </div>
            </div>
          </div>
        </div>
