<div class="col-12 border p-5 bg-white rounded shadow">
  <h2 class="fw-bold display-5 mb-4">Join the best!</h2>
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPasswordretype" placeholder="Password Retype">
      <label for="floatingPassword">Password Retype</label>
    </div>
    <div class="d-grid">
      <button class="btn btn-{{colorModifier}} btn-lg mt-4 btn-xl fw-light" type="button">
        Join now!</button>
    </div>

    <div class="text-center pt-4 mt-4 border-top">
      <p>Already have an account?
        <a href="#" class="link-{{colorModifier}}">Log in</a>
      </p>
    </div>
  </div>
</div>
