<div class="row d-flex align-items-center">
    <div class="col-lg-6">
      <div class="row gx-4">
        <div class="col-5 aos-init aos-animate mt-5" data-aos="fade-right" data-aos-duration="500">
          <img src="{{ '/img/person4.jpg' | url }}" class="img-fluid shadow rounded">
        </div>
        <div class="col-7">
          <div class="row gx-4">
            <div class="col-12 aos-init aos-animate" data-aos="fade-down" data-aos-duration="1000">
              <img src="{{ '/img/person1.jpg' | url }}" class="img-fluid shadow rounded">
            </div>
            <div class="col-7 mt-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">
              <img src="{{ '/img/person2.jpg' | url }}" class="img-fluid shadow  rounded">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 offset-lg-1">
      <span class="text-{{colorModifier}}">Our concept explained</span>
      <h2 class="mt-2 mb-4">We are here to help you out!</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a href="#" class="text-decoration-none  link-{{colorModifier}}">Learn more
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
      </p>
    </div>
  </div>
