<div class="col-lg-5">
  <h3 class="py-5 border-top border-dark" data-aos="fade-right">What our clients say</h3>
</div>
<div class="col-md-7" data-aos="fade-left">
  <blockquote>
    <div class="fs-4 my-3 fw-light pt-4 border-bottom pb-3">“I´am the CEO of this company. So maybe you think "he will tell us something super awesome about it only". But no. Its a really strange place to work with creepy people all around.
      They do some computer stuff I don´t understand. But I wear expensive Glasses and a Patagonia Hoodie. So I´am fine with it.”</div>
    <img src="{{ './img/webp/person11.webp' | url }}" width="64" height="64" class="img-fluid rounded-circle me-3" alt="" data-aos="fade"/>
    <span><span class="fw-bold">John Doe,</span>
      CEO of Stride Ltd.</span>
  </blockquote>
</div>
