<div class="col-lg-10 col-xl-8">
  <blockquote class="text-center">
    <img src="{{ '/img/person1.jpg' | url }}" width="64" class="img-fluid rounded-circle" data-aos="fade-up" data-aos-duration="250"/>
    <h4 class="fs-1 my-3 fw-light" data-aos="fade">“Wow. Thats the only thing I can say. Just wow. Oh and thank you of course!”</h4>
    <footer class="blockquote-footer mt-2" data-aos="fade-up" data-aos-duration="500">
      <span><span class="fw-bold">Jane Doe,</span>
        UX Engineer at Github</span>
    </footer>
  </blockquote>
</div>
