<div class="col-12 col-lg-10 col-xl-8 text-center">
  <h2 class="display-6">Loved by people all around the globe</h2>
  <p class="lead">Our spaces and offices are soooooo lovely, no one would give us a negative rating! And look at these trustworthy avatar pictures! Trust us!</p>
</div>
<div class="col-12 mt-4">
  <div class="row row-cols-1 row-cols-md-2 g-5 d-flex align-items-center">

    <div class="col-12 col-lg-6 col-xl-4 " data-aos="fade-right">
      <div class="card p-4 mt-3 border-0">
        <div class="card-body">
          <div class="text-dark py-2 fs-3">{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-half.njk' %}</div>
          <blockquote class="blockquote">
            <p>"That service is really really good. And I don´t say that because they pay me a lot of money. I say that because they don´t pay me more money anymore if I don´t say it..."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <div>
              <span class="h6 fw-5">Jane Doemunsky</span><br/>
              <small class="text-muted">COO, The Boo Corp.</small>
            </div>
            <img src="{{ './img/webp/person9.webp' | url }}" width="48" height="48" class="rounded-circle" alt="" data-aos="fade"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4 ">
      <div class="card p-4 shadow mt-3 border-0" data-aos="fade-down">
        <div class="card-body">
          <div class="text-dark py-2 fs-3">{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star.njk' %}</div>
          <blockquote class="blockquote">
            <p>"I really don´t get what they do. Something with Crypto, NFT´s, SaaS and Cyber Security. Maybe an App for Kids...? But they have this nice website...so who cares what they do as long as they are good at it."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">Jenny Matrix</span><br/>
              <small class="text-muted">Daughter of Col. John Matrix, Commando.</small>
            </p>
            <img src="{{ './img/webp/person3.webp' | url }}" width="48" height="48" class="rounded-circle" alt="" data-aos="fade"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card p-4 mt-3 border-0" data-aos="fade-left">
        <div class="card-body">
          <div class="text-dark py-2 fs-3">{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star.njk' %}{% include 'svg/bi-star.njk' %}{% include 'svg/bi-star.njk' %}</div>
          <blockquote class="blockquote">
            <p>"I don´t know if they are good at what they do. But they have nice coffee and a shiny brand new startup office with bikes on the wall and all that stuff."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">Rustin Cohle</span><br/>
              <small class="text-muted">Detective, Somewhere in the swamps</small>
            </p>
            <img src="{{ './img/webp/person8.webp' | url }}" width="48" height="48" class="rounded-circle" alt="" data-aos="fade"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4 ">
      <div class="card p-4 mt-3 border-0" data-aos="fade-right">
        <div class="card-body">
          <div class="text-dark py-2 fs-3">{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-half.njk' %}{% include 'svg/bi-star.njk' %}</div>
          <blockquote class="blockquote">
            <p>"Its not good at all but I give it five stars because I killed (accidentally) the CEO´s cat with a lawnmover."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">Richard Thornburg</span><br/>
              <small class="text-muted">News Reporter, KFLW-TV</small>
            </p>
            <img src="{{ './img/webp/person14.webp' | url }}" width="48" height="48" class="rounded-circle" alt="" data-aos="fade"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4 ">
      <div class="card p-4 mt-3 border-0" data-aos="fade-up">
        <div class="card-body">
          <div class="text-dark py-2 fs-3">{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-half.njk' %}</div>
          <blockquote class="blockquote">
            <p>"I´am just a guy who uploads his picture to unsplash.com so that others can use me as placeholder for stupid sample avatars. I don´t even know that my face is on this website."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">Harry Walters</span><br/>
              <small class="text-muted">Gangster, In Bruges</small>
            </p>
            <img src="{{ './img/webp/person13.webp' | url }}" width="48" height="48" class="rounded-circle" alt="" data-aos="fade"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4 ">
      <div class="card p-4 shadow mt-3 border-0" data-aos="fade-left">
        <div class="card-body">
          <div class="text-dark py-2 fs-3">{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}{% include 'svg/bi-star-fill.njk' %}</div>
          <blockquote class="blockquote">
            <p>"Okay, okay, I give it five stars. But do you know what: There is a infinit number of stars out there. So five means nothing."</p>
          </blockquote>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="card-text">
              <span class="h6 fw-5">Lizzie Stark</span><br/>
              <small class="text-muted">Head of Security, Brummagem Boys</small>
            </p>
            <img src="{{ './img/webp/person18.webp' | url }}" width="48" height="48" class="rounded-circle" alt="" data-aos="fade"/>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
